<div class="site-footer">
  <div class="container">
    <div class="text-muted">
      <%= image_tag('shared/ruby_icon.png', style: 'width:36px;height:36px') %>
      © 2014 jasonblog.com ·
      <%= link_to Settings.site.owner_en, "mailto:#{Settings.site.owner_email}" %> ·
      All rights reserved ·
      <%= link_to '向Jason报告问题', "mailto:zyj163loveher@163.com" %> ·
      <a href="#">返回顶部</a>
    </div>
  </div>
</div>
