<div class="site-footer">
  <div class="container">
    <div class="text-muted">
      <i class="fa fa-diamond"></i>
      © 2016 RubyMe ·
      <%=I18n.t(:hello)%> ·
      All Rights Reserved ·
      <%= link_to I18n.t(:report_issue), "mailto:rubyfan@163.com" %> ·
      <a href="#">返回顶部</a> ·
      <a class="<%= 'active' if action_name == 'about_us' && params[:controller] == 'frontend/home' %>" href="<%= frontend_about_us_path %>">关于</a>
    </div>
  </div>
</div>
