<div class="pagehead">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <!--<div class="col-md-3 site-logo-info">-->
        <!--<a href="/" class="site-logo"><#%= image_tag('shared/ruby_me.png', style: 'width:146px;height:36px;padding-bottom:2px') %></a>-->
        <!--</div>-->
        <!--<div class="col-md-9">-->
        <h4><%= "#{Settings.site.name_zh} · #{site_intro}" %></h4>
        <!--</div>-->
      </div>
      <div class="col-md-2">
        <%= link_to raw('<i class="glyphicon glyphicon-pencil"> </i>发布新帖子'), new_admin_post_path, class: "new_button btn btn-primary" %>
      </div>
    </div>
  </div>
</div>


