@import "_variables";

body {
  color: #333333;
  background-color: #e9eaed;
}

td {
  max-width: 400px;
}

.user-activity-graph {
  overflow-x: scroll;
  text-align: center;
    svg { margin: 0 auto; }
}

.site-footer {
  i {
    color: #EB5424;
  }
  color: #777;
  line-height: 1.5;
  text-align: center;
  position: relative;
  margin-top: 40px;
  background-color: #f7f7f7;
  padding-top: 15px;
  padding-bottom: 5px;
  border-top: 1px solid #eee;
}

.media-body, .media-left {
  display: table-cell;
  vertical-align: top;
}

.media-left {
  padding-right: 10px;
}

.avatar-16 { width: 16px; height: 16px; border-radius: 1px; }
.avatar-48 { width: 48px; height: 48px; border-radius: 2px; }
.avatar-120 { width: 80px; height: 80px; border-radius: 2px; }
@media (max-width: 480px) {
  .avatar-48 { width: 32px; height: 32px; }
}

.href_name {
  //@include ellipsis();
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.well {
  background-color: $bgcolor-fe;
}

.panel-heading {
  background-color: $bgcolor-fd;

  .panel-title {
    font-size: 15px;
  }
}

.panel-default>.panel-heading {
  background-color: $bgcolor-f4;
}

.panel-body {
  background-color: $bgcolor-fe;
  padding: 15px;

}

.panel-footer {
  background-color: $bgcolor-fd;
}

.form-control {
   background-color: $bgcolor-fe;
}

.form-control[disabled] {
  background-color: $bgcolor-fc;

}

.panel-group .panel + .panel {
  margin-top: 0;
}

.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: $bgcolor-fd;
}

.display_none {
  display: none;
}

.text_middle {
  vertical-align: middle!important;
}

.text_bold {
  font-weight: normal;
   font-size: 1.1em;
}

a {
  // font-size: 1.1em;
  color: #0069D6;
  text-decoration: none;
}

ul, ol {
  li {
     margin-top: 5px;
     margin-bottom: 8px;
    //  font-size: larger;
  }
}

.pagehead {
  position: relative;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px #eee;
  margin-top: 20px;
}

.padding6 {
  padding-top: 6px;
  padding-right: 60px;
}
.about-panel {
  position: relative;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px #eee;
  background-color: #fafafa;
}

.blog-posts, .code-posts, .form-user {
  background-color: #fafafa;
  padding: 5px 5px 5px 15px;;
}

.user_face {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.bloger_photo {
  width: 100%;
  // height: 100%;
  max-width: 190px;
  max-height: 190px;
}

.pagination {
  margin: 10px 0px;

  span {
    margin-right: 8px;
  }
}

.box {
  padding: 10px;
  margin: 0 0 20px 0;
  border-radius: 3px;
  background-color: #fafafa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0px 2px rgba(0,0,0,0.07);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,0.07);
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.07);
}

.post-replies {
  .total {
    color: #999;
    // margin: 0 -10px;
    padding: 0 10px 6px 10px;
    border-bottom: 1px solid #eaeaea;
  }

  .post_reply {
    padding: 8px 10px;
    background-color: $bgcolor-fb;
    border-bottom: 1px solid #f0f0f0;
    .infos {
      padding-left: 58px;

      .info {
        font-size: 15px;
        .time {
          color: #bbb;
        }
      }
    }
  }
}

.new_button {
  float: left;
  margin-top: 5px;
}

.simple_captcha {
  padding: 5px;
  border: 1px solid #ccc;

  div {
    display: table;
  }

   #captcha {
    height: 30px;
    width: 171px;
  }

  .simple_captcha_field, .simple_captcha_image {
    padding: 0px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin: 0px 0px 2px 0px;
  }

  .simple_captcha_image {
    min-height: 38px;
    min-width: 171px;

    img {
      margin: 0px;
      padding: 0px;
      height: 36px;
    }
  }
}

.search-results {
  .result {
    margin-bottom: 20px;

    em { color: $red; font-style: normal;}
    span.highlight { color: $red; font-style: normal;}

    .title {
      font-size: 15px;
      line-height: 160%;

      .badge { background: $grayLabel; color: $grayLabelText; font-weight: normal; font-size: 12px; margin-left: 4px; }
    }
    .info {
      margin-bottom: 6px;
      font-size: 12px;
      .url a { color: $greenText; }

      .date { color: #999; margin-left: 8px; }
    }

    .desc { font-size: 13px; }
  }

  .user {
    .info { margin-top: 4px; font-size: 14px; }
    .info.number { color: #666; font-size: 13px; }
  }
}