<div class="about-panel">
  <dl class="dl-horizontal">
    <dt>联系邮箱</dt>
    <dd>
      <%= link_to Settings.site.owner_en, "mailto:#{Settings.site.owner_email}" %>
    </dd>

    <dt>联系地址</dt>
    <dd>上海市 浦东新区</dd>

    <dt>联系电话</dt>
    <dd>15801702550</dd>

    <dt>在职公司</dt>
    <dd>Marketboomer</dd>

    <dt>兴趣爱好</dt>
    <dd>Ruby,PHP</dd>
  </dl>
</div>