
@import "shared/utils";

.pagehead {

  a.link_admin_home {
    margin-left: 15px;
    //font-size: large;
    text-decoration: none;
  }

  a.mainpage_link {
    //font-size: large;
    margin-right: 15px;
  }

  a:hover {
    text-decoration: none;
  }
}

.btn_new_post {
  width: 100px;
}

.form-group {
  select {
    max-width: 400px;
  }

  input.string {
    max-width: 400px;
  }

  input[type="number"] {
    max-width: 200px;
  }

  input[type="file"] {
    max-width: 400px;
  }

}
