
default: &default
  adapter: postgresql
  encoding: utf8
  timeout: 5000
  username: postgres
  password: whitedove
  host: localhost
  pool: 15

development:
  <<: *default
  database: blog_me_dev

test:
  <<: *default
  database: blog_me_test

production:
  <<: *default
  database: blog_me_pro
