
@import "shared/utils";


.container {
  >.alert-info, >.alert-danger {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

.session-form {
  margin: 0 auto;
  max-width: 550px;
  padding: 130px 0px 15px 0px;

}
.session-form .heading {
  font-size: 16px;
  font-weight: bold;
}
.session-form .checkbox {
  font-weight: normal;
}
.session-form .form-control {
  position: relative;
  font-size: 15px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.session-form .form-control:focus {
  z-index: 2;
}
.session-form input[type="text"] {
  margin-bottom: -1px;
  border-radius: 0;
}
.session-form input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0;
}
