<div class="row">
  <div class="col-md-9">
    <label>全部日志列表: </label>
  </div>

  <div class="col-md-3 text-right">
    <%= link_to raw('<i class="glyphicon glyphicon-pencil"> </i>添加日志'), new_admin_blog_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="row">
  <%= render partial: 'admin/shared/blogs', locals: {blogs: @blogs} %>
</div>
